body{
    padding-left: 0px;
    background-color: rgb(15, 102, 149);
    width: 80%;
    margin: auto;
   
}
h1{
    color:rgb(0, 255, 213);
    text-align: center;
}
.item{
    background-color: rgb(13, 85, 124);
    display: grid;
    grid-template-columns: 140px 1fr;
    justify-content: space-around;
    margin-bottom: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.item:hover{
    background-color: rgb(15, 55, 77);
    cursor: pointer;
}
.item:hover{
    
    
}
img{
    margin-top: 40px;
    margin-left: 20px;
}
h3{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 8px;
    color: white;
}
span{
    font-weight: bold;
    color: aqua;
}
hr{
    padding-left: 0;
    margin: 0;
    padding: 0;
    
}
.grade{
   
   
}
.name{
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}